.container-grid{
  height: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
}

.logotipo{
  margin:0;
  padding:0;
  display: inline-block;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper{
  padding-top: 40px;
  padding-left: 70px;
}

.wrapper img{
  width: 11%;
}

.wrapper ul{
  display: inline-flex;
  gap: 25px;
}

#number_like{
  margin-left: 5px;
}

.side_search{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 150px;
  gap:30px;
}

.side_input{
  flex-basis: 75%;
  position: relative;
  box-shadow: -3px 6px 12px 0px rgb(0 0 0 / 63%), 3px 8px 17px 0px rgb(0 0 0 / 34%);
  border-radius: 8px;
}

.side_input input{
  width: 100%;
  border:none;
  padding: 20px 0px 20px 43px;
  border-radius: 8px;
}

.side_input input:focus{
  outline: none;
}

.side_input i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.side_filter{
  box-shadow: -3px 6px 12px 0px rgb(0 0 0 / 63%), 3px 8px 17px 0px rgb(0 0 0 / 34%);
  border-radius: 8px;
  border:none;
}

.menu ul li a{
  text-decoration: none;
  color: #000;
}

.side_filter{
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  gap: 20px;
  background-color:#fff;
}

.recipes{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 4%;
}

.recipes_title{
  /*DEFINE QUANTAS COLUNAS O TÍTULO VAI OCUPAR*/
  margin-top: 190px;
}

.box_recipe{
  height: 85px;
  position: relative;
  overflow: hidden;
}

.box_recipe img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.opacity{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
  border-radius: 15px;
}

.box_title{
  position: absolute;
  color: #fff;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 3px;
}

.button_title{
  position: absolute;
  color: #000;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
}

.button_recipe{
  width: 100%;
  height: 85px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
}

.button_recipe:hover{
  background-color: rgb(240, 240, 240);
}

.slider-container{
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
}

.boxSlider{
  width: 46%;
  max-width: 350px;
  min-width: 300px;
  height: 68%;
  max-height: 700px;
  min-height: 600px;
  position: relative;
  /* top: 31%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.boxSlider img{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow:4px 6px 14px 0px rgb(0 0 0 / 63%);
  transition: opacity 1500ms;
}

.boxSlider img.selected{
  opacity: 1;
}

.buttonPaginationSlide{
  color: #d2d2d2;
}

.buttonPaginationSlide.selected{
  color: #000000;
}

.buttonSlide{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#pagination{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pagination i{
  font-size: 10px;
}

.gradient_overlay::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, rgb(70, 70, 70));
  opacity: 0.5;
  border-radius: 7px;
}

.textOnPhoto{
  position: absolute;
  width: 100%;
  height: 100%;
}

.textOnPhoto #title_phslide{
  position: absolute;
  top: 73.5%;
  left: 11%;
  font-size: 0.9em;
  color: rgb(172, 172, 172);
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.textOnPhoto #subtitle_phslide{
  position: absolute;
  top: 78%;
  left: 11%;
  font-size: 1.65em;
  color: white;
  
}

 

